body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* background: repeating-radial-gradient(#32acb0, transparent 23px); */
  display: grid;
  place-items: center;
  /* background-image: url('https://images.unsplash.com/photo-1618488629391-e7d08445272b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
}

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

#root {
  height: 100%;
}

/* body {
  height: 100%;
  background: repeating-radial-gradient(#32acb0, transparent 23px);
  display: grid;
  place-items: center;
  margin: 0;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.container{
  width: 1000px;
  height: 675px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  margin-top: -484px;
  /* background: antiquewhite; */
  /* background: repeating-radial-gradient(#1abdc7, #15a67e3d 23px); */
  /* box-shadow: 0 -2px 369px rgb(42 241 248); */
}

#paddle {
  width: 250px;
  height: 30px;
  background: darkcyan;
  position: absolute;
}

#ball {
  width: 40px;
  height: 40px;
  border: 2px, solid, black;
  background: darkcyan;
  /* position: absolute; */
}

#dungeon {
  /* margin-top: -261px; */
  z-index: -2;
  position: absolute
}

#brick-wall {
  z-index: 0;
  border: black;
  position: relative;
  width: 455px;
  margin-top: 249px;
  height: 377px;
  margin-left: 316px;
}

/* .square {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.square:active {
  transform: scale(.97);
  transition: transform .2s;
}

.square.flip {
  transform: rotateY(180deg);
} */

#square {
  width: 36px;
  height: 22.5px;
  background: #ad8b6aba;  
  border: 1px solid #fdcdff;
}

#sqImage {
  width: 36px;
  height: 22.5px;
  background: #ad796af7;
  border: 1px solid #fdcdff;
}

#bomb {
  width: 36px;
  height: 22.5px;
  background: #ad796ac9;
  /* border: 1px solid #fdcdff; */
}

.board-row {
  width: 80px;
  margin-top: 106px;
  place-items: center;
  margin-left: 34%;
  margin-right: -35%;
}

button {
  border: 1px solid black;
}

#explosion{
  position: absolute;
}
